@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
/*font-family: 'Lora', serif;
font-family: 'Lato', sans-serif;*/
body{
    margin: 0;
    padding: 0;
}
#header {
    background: url('../Img/Banner.jpg') no-repeat;
    background-size: cover;
    width: 1100px;
    height: 586px;
}

    #header h1 {
        position: absolute;
        top: 16%;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin-left: 40px;
    }

    #header h2 {
        position: absolute;
        top: 22%;
        color: #74ccd3;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        margin-left: 40px;
    }

#nav {
    background-color: #ff7b36;
    opacity: 0.9;
    height: 110px;
    width: 1100px;
    position: relative;
    top: 70%;
}
